{% block hwi_oauth_content %}
    {% if error is defined and error %}
        <span>{{ error }}</span>
    {% endif %}
    {% for owner in hwi_oauth_resource_owners() %}
    <a href="{{ hwi_oauth_login_url(owner) }}" class="btn btn-default btn-sm">{{ owner | trans({}, 'HWIOAuthBundle') }}</a>
    {% endfor %}
{% endblock hwi_oauth_content %}
