<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

        <title>{% block title %}Salesplace{% endblock %}</title>

        {% block css %}
            <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet">
            <link href="{{ asset('css/base.css') }}" rel="stylesheet">
        {% endblock %}
    </head>

  <body>
    <div class="blog-masthead">
        <div class="container">
            <div class="row">
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                <div class="col-md-12">
                    Bienvenue {{ app.user.username }} | 
                    <a href="{{ path('fos_user_security_logout') }}">Déconnexion</a>
                </div>
            {% else %}
                <div class="col-md-9">
                    {% block fos_user_connect_content %}{% endblock fos_user_connect_content %}
                </div>
                <div class="col-md-3">
                    {% block hwi_oauth_content %}{% endblock hwi_oauth_content %}
                </div>
            {% endif %}
            </div>
        </div>
    </div>
      
    <div class="container">
        {% block content %}
            {% block fos_user_content %}{% endblock fos_user_content %}
        {% endblock %}
    </div><!-- /.container -->

    <footer class="blog-footer"></footer>
    {% block javascripts %}
        <script src="{{ asset('js/jquery.min.js') }}"></script>
        <script src="{{ asset('js/bootstrap.min.js') }}"></script>
    {% endblock %}
  </body>
</html>

