{% extends 'base.html.twig' %}

{% block content %}
    <h1>Ad list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Description</th>
                <th>Reference</th>
                <th>Type</th>
                <th>Price</th>
                <th>Createddate</th>
                <th>Modifieddate</th>
                <th>Publisheddate</th>
                <th>Announcer</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for ad in ads %}
            <tr>
                <td><a href="{{ path('ad_show', { 'id': ad.id }) }}">{{ ad.id }}</a></td>
                <td>{{ ad.title }}</td>
                <td>{{ ad.description }}</td>
                <td>{{ ad.reference }}</td>
                <td>{{ ad.type }}</td>
                <td>{{ ad.price }}</td>
                <td>{% if ad.createdDate %}{{ ad.createdDate|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if ad.modifiedDate %}{{ ad.modifiedDate|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if ad.publishedDate %}{{ ad.publishedDate|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ ad.announcer }}</td>
                <td>{{ ad.status }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('ad_show', { 'id': ad.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('ad_edit', { 'id': ad.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('ad_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
