{% extends 'base.html.twig' %}

{% block content %}
    <h1>Ad</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ ad.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ ad.title }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ ad.description }}</td>
            </tr>
            <tr>
                <th>Reference</th>
                <td>{{ ad.reference }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ ad.type }}</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{ ad.price }}</td>
            </tr>
            <tr>
                <th>Createddate</th>
                <td>{% if ad.createdDate %}{{ ad.createdDate|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Modifieddate</th>
                <td>{% if ad.modifiedDate %}{{ ad.modifiedDate|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Publisheddate</th>
                <td>{% if ad.publishedDate %}{{ ad.publishedDate|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Announcer</th>
                <td>{{ ad.announcer }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ ad.status }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('ad_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('ad_edit', { 'id': ad.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
