{% extends "::base.html.twig" %}

{% block fos_user_connect_content %}
    <form action="{{ path("fos_user_security_check") }}" method="post" class="form-inline">
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
        <div class="form-group">
            <label class="sr-only" for="username">Login</label>
            <input type="text" id="username" name="_username" value="{{ last_username }}" class="form-control input-sm" required="required" placeholder="Login" />
        </div>
        <div class="form-group">
            <label class="sr-only" for="password">Mdp</label>
            <input type="password" id="password" name="_password" class="form-control input-sm" required="required" placeholder="Mdp" />
        </div>
        <button type="submit" id="_submit" name="_submit" class="btn btn-default btn-sm">Connexion</button>
    </form>
{% endblock fos_user_connect_content %}

{% block hwi_oauth_content %}
    {% include 'HWIOAuthBundle:Connect:login.html.twig' %}
{% endblock hwi_oauth_content %}
